<%- model_class = Employee -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:no) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>

      <th><%= model_class.human_attribute_name(:tel) %></th>

      <th><%= model_class.human_attribute_name(:email) %></th>

      <th><%= model_class.human_attribute_name(:gross_salary) %></th>
      <th><%= model_class.human_attribute_name(:net_salary) %></th>

      <th><%= model_class.human_attribute_name(:date_of_joining) %></th>
            <th><%= model_class.human_attribute_name(:date_of_resignation) %></th>
                  <th><%= model_class.human_attribute_name(:cv) %></th>




    </tr>
  </thead>
  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.no %></td>
        <td><%= employee.name %></td>
                <td><%= employee.address %></td>

        <td><%= employee.tel %></td>

        <td><%= employee.email %></td>

        <td><%= employee.gross_salary %></td>
                <td><%= employee.net_salary %></td>


        <td><%= employee.date_of_joining %></td>
                <td><%= employee.date_of_resignation %></td>

        <td><%= link_to 'My CV', employee.cv.url %></td>

        
      </tr>
    <% end %>
  </tbody>
</table>

