<%- model_class = TwoyearCustomer -%>
<div align="center">
<a href="http://rkkinfosystem.herokuapp.com/instant_customers"><button>One Time customers</button></a>
<a href="http://rkkinfosystem.herokuapp.com/sixmonths_customers"><button>Six Months customers</button></a>

<a href="http://rkkinfosystem.herokuapp.com/oneyear_customers"><button>One Year customers</button></a>

</div>
<div align="right">
<%= form_tag :controller => 'login2', 
             :action => 'logout' do %>
<%= submit_tag 'Logout', :class => 'ctrl' %>
<% end %>
</div>
<h4><center>These customers have applied for two year service.</center></h4>
<h5><center>These Customers have given $279/£279</center></h5>
<br/><br/>
<form class="form-search">

    <%= text_field_tag :emp_no, params[:emp_no] %>

    <button type="submit" class="btn">Search</button>
    </form>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:emp_no) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:e_mail) %></th>
      <th><%= model_class.human_attribute_name(:phone) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @twoyear_customers.each do |twoyear_customer| %>
      <tr>
        <td><%=  twoyear_customer.emp_no %></td>
        <td><%=  twoyear_customer.name %></td>
        <td><%=  twoyear_customer.e_mail %></td>
        <td><%=  twoyear_customer.phone %></td>
        <td><%=l twoyear_customer.created_at %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

