<html>
<%- model_class = TwoyearCustomer -%>


<dl class="dl-horizontal">
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:emp_no) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @twoyear_customer.emp_no %></dd>
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @twoyear_customer.name %></dd>
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:e_mail) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @twoyear_customer.e_mail %></dd>
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @twoyear_customer.phone %></dd>
   <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:plan) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @twoyear_customer.plan %></dd>
</dl>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td align="center">
<form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type = "hidden" name = "LinkId" value ="0ab863ea-13ff-488e-80be-65cc323cbed8" />
<input type="submit" value="$ Buy Now"/></form>
</td>

</tr>
</table>

</html>
