<html>



<%- model_class = InstantCustomer -%>


<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:emp_no) %>:</strong></dt>
  <dd><%= @instant_customer.emp_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @instant_customer.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:e_mail) %>:</strong></dt>
  <dd><%= @instant_customer.e_mail %></dd>
  <dt><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd><%= @instant_customer.phone %></dd>
</dl>


<td height="30" align="center"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                         <td height="30" align="center"><form name="confirmation" id="confirmation" method="post" action="https://www.paypal.com/cgi-bin/webscr"><input type="hidden" name="business" value="amandeep9899@gmail.com">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="amount" value="99">
        <input type="hidden" name="item_name" value="IncidentForOnce>">
        <input type="hidden" name="currency_code" value="GBP">
        
        <input type="submit" value="£ Buy Now"/></form></td>
                                          <td height="30" align="center"><form name="confirmation" id="confirmation" method="post" action="https://www.paypal.com/cgi-bin/webscr"><input type="hidden" name="business" value="amandeep9899@gmail.com">
        <input type="hidden" name="cmd" value="_xclick">
        <input type="hidden" name="amount" value="99">
        <input type="hidden" name="item_name" value="IncidentForOnce>">
        <input type="hidden" name="currency_code" value="USD">
        
        <input type="submit" value="$ Buy Now"/></form></td>
</html>