<html>
<br>
<%- model_class = OneyearCustomer -%>

<%= form_for @oneyear_customer, :html => { :class => 'form-horizontal' } do |f| %>

<div class="control-group">
    <%= f.label :issue, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :issue, :class => 'text_field', :cols => "30", :rows => "8" %>
    </div>
  </div>
  
  <div class="control-group">
    <%= f.label :trouble_shooting_steps, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :trouble_shooting_steps, :class => 'text_field', :cols => "30", :rows => "8" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, ['Issue Solved','Issue Not Solved','Under Screening'] %>
    </div>
  </div>
   <div class="form-actions">
<form class="form-search">
    <button type="submit" class="btn">Proceed</button>
    </form>   
  </div>
  <% end %>
</html>