<html>
<%- model_class = OneyearCustomer -%>


<dl class="dl-horizontal">
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:emp_no) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @oneyear_customer.emp_no %></dd>
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @oneyear_customer.name %></dd>
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:e_mail) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @oneyear_customer.e_mail %></dd>
  <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:phone) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @oneyear_customer.phone %></dd>
   <dt style="color:#16C970"><strong><%= model_class.human_attribute_name(:plan) %>:</strong></dt>
  <dd style="color:#1C9DD6"><%= @oneyear_customer.plan %></dd>
</dl>


<table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td align="center">
<form name="PrePage" method = "post" action = "https://Simplecheckout.authorize.net/payment/CatalogPayment.aspx"> <input type = "hidden" name = "LinkId" value ="44a2bb5d-6d1c-4e13-b243-869da4ac0224" />
<input type="submit" value="$ Buy Now"/></form>
</td>
</tr>
</table>
</html>