<html>

<br>
<%- model_class = SixmonthsCustomer -%>
<%= form_for @sixmonths_customer, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group">
    <%= f.label :issue, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :issue, :class => 'text_area' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :feedback, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :feedback, :class => 'text_area' %>
    </div>
  </div>
  <% end %>

  <a href="http://localhost:3000/sixmonths_customers"><button>Proceed</button></a>
</html>